<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand color" ui-sref="introduction">VMS</a>
      <button type="button" class="navbar-toggle" ng-init="navCollapsed = true" ng-click="navCollapsed = !navCollapsed">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      </button>
    </div>
    <div id="navbar" class="navbar-collapse collapse" collapse="navCollapsed">
      <ul class="nav navbar-nav navbar-right">
        <li><a ng-hide="vm.userAuthentication.isAuthenticated()" ui-sref="registerPrivacy">註冊</a></li>
        <li><a ng-hide="vm.userAuthentication.isAuthenticated()" ui-sref="login">登入</a></li>
        <!--<li ng-show="" uib-dropdown>
          <a id="navbar-profile" aria-labelledby="nav-profile-tempate-url" uib-dropdown-toggle>{{vm.lastName}}
            <span class="caret"></span>
          </a>
        <ul class="uib-dropdown-menu" template-url="/app/components/navbar/navbarProfileDropdown.html" aria-labelledby="navbar-profile"></ul>
      </li>-->
      <li><a ng-show="vm.userAuthentication.isAuthenticated()" ui-sref="profile">我的資料</a></li>
      <li ng-show="vm.userAuthentication.isAuthenticated()" uib-dropdown>
        <a uib-dropdown-toggle>專案<span class="caret"></span></a>
        <ul class="dropdown-menu" uib-dropdown-menu role="menu">
          <li ng-if="vm.isManagerRole()" role="menuitem"><a ui-sref="createProject">新增專案</a></li>
          <li ng-if="vm.isManagerRole()" role="menuitem"><a ui-sref="managedProjectList">我的專案</a></li>
          <li ng-if="vm.isVolunteerRole()"><a ui-sref="showAllProjects">所有專案</a></li>
          <li ng-if="vm.isVolunteerRole()"><a ui-sref="attendingProjectList">已參與的專案</a></li>
        </ul>
      </li>
      <li ng-show="vm.userAuthentication.isAuthenticated()" uib-dropdown>
        <a uib-dropdown-toggle>切換身份<span class="caret"></span></a>
        <ul class="dropdown-menu" uib-dropdown-menu role="menu">
          <li ng-if="vm.isManagerRole()" role="menuitem"><a ng-click="vm.switchToVolunteer()">切換為志工</a></li>
          <li ng-if="vm.isVolunteerRole()"><a ng-click="vm.switchToManager()">切換為專案管理員</a></li>
        </ul>
      </li>
      <li><a ng-show="vm.userAuthentication.isAuthenticated()" ng-click="vm.logout()">登出</a></li>
    </ul>
  </div>
</div>
</nav>
