<nav class="navbar navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand color" href="#">VMS</a>
    </div>
    <div id="navbar" class="navbar-collapse collapse navbar-right">
      <ul class="nav navbar-nav">
        <a ng-hide="vm.isAuthenticated" class="navbar-brand" ui-sref="registerPrivacy">註冊</a>
        <a ng-hide="vm.isAuthenticated" class="navbar-brand" ui-sref="login">登入</a>
        <a ng-show="vm.isAuthenticated" class="navbar-brand" ui-sref="logout">登出</a>
      </ul>
    </div>
  </div>
</nav>