<div class="row">
	<vms-message data="vm.alert"></vms-message>
	<h2>{{ 'change_password' | translate }}</h2>
	<hr>
</div>
<form name="changePassword" ng-submit="vm.submit()">
	<div class="row-eq-height profile-section">
    <div class="form-group col-md-12 col-lg-12 col-sm-12 col-xs-12">
      <div class=" row">
        <label for="first-name" class="control-label col-md-2 col-lg-2">原密碼</label>
        <div class="col-md-8 col-lg-8">
          <input type="password" class="form-control" id="password" placeholder="原密碼" ng-model="vm.data.password" required>
        </div>
      </div>
    </div>
    <div class="form-group col-md-12 col-lg-12 col-sm-12 col-xs-12">
      <div class=" row">
        <label for="first-name" class="control-label col-md-2 col-lg-2">新密碼</label>
        <div class="col-md-8 col-lg-8">
          <input type="password" name="newPassword" ng-class="{'has-error':changePassword.newPasswordConfirmation.$error.match}" class="form-control" id="newPassword" placeholder="新密碼" ng-model="vm.data.newPassword" required>
        </div>
      </div>
    </div>
    <div class="form-group col-md-12 col-lg-12 col-sm-12 col-xs-12">
      <div class="row">
        <label for="first-name" class="control-label col-md-2 col-lg-2">確認新密碼</label>
        <div class="col-md-8 col-lg-8">
          <input type="password" name="newPasswordConfirmation" ng-class="{'has-error':changePassword.newPasswordConfirmation.$error.match}" class="form-control" id="newPasswordConfirmation" placeholder="確認新密碼" ng-model="vm.data.newPasswordConfirmation" match="vm.data.newPassword" minlenght="6" required>
        </div>
        <div class="col-md-8 col-lg-8 col-md-offset-2 col-lg-offset-2">
            <p class="text-danger" ng-show="changePassword.newPasswordConfirmation.$error.match">{{ 'alert.danger.password_not_match' | translate }}</p>
        </div>
      </div>
    </div>
	</div>
	<div class="row profile-section">
			<div class="col-md-2 col-md-offset-5">
				<button class="btn btn-primary btn-lg" type="submit">送出</button>
			</div>
			<div class="col-md-5"></div>
	</div>
</form>
