<div class="row">
    <h2>技能</h2>
    <hr>
</div>
<form class="form-inline">
    <div class="row profile-section">
        <div class="form-group col-md-6 col-lg-6 col-sm-6 col-xs-12">
            <div class=" row">
                <label for="company" class="control-label col-md-4 col-lg-4">公司名稱</label>
                <div class="col-md-8 col-lg-8">
                    <input type="text" class="form-control" id="company" placeholder="公司名稱" ng-model="vm.experience.name" required>
                </div>
            </div>
        </div>
        <div class="form-group col-md-6 col-lg-6 col-sm-6 col-xs-12">
            <div class=" row">
                <label for="job-title" class="control-label col-md-4 col-lg-4">工作職稱</label>
                <div class="col-md-8 col-lg-8">
                    <input type="text" class="form-control" id="job-title" placeholder="工作職稱" ng-model="vm.experience.job_title" required>
                </div>
            </div>
        </div>
        <div class="form-group col-md-6 col-lg-6 col-sm-6 col-xs-12">
            <div class="row">
                <label for="period" class="control-label col-md-4 col-lg-4">任職期間</label>
                <div class="col-md-8 col-lg-8">
                    <input type="text" minlength="6" class="form-control" id="start-year" placeholder="起始年" ng-model="vm.experience.start_year" required>
                </div>
            </div>
        </div>
    </div>
    <div class="row profile-section">
        <h2>裝備</h2>
        <hr>
        <div class="form-group col-md-6 col-lg-6 col-sm-6 col-xs-12">
            <div class="row">
                <label for="school" class="control-label col-md-4 col-lg-4">學校</label>
                <div class="col-md-8 col-lg-8">
                    <input type="text" name="school" type="text" class="form-control" id="school" placeholder="學校" ng-model="vm.education.email" required>
                </div>
            </div>
        </div>
        <div class="form-group col-md-6 col-lg-6 col-sm-6 col-xs-12">
            <div class="row">
                <label for="phone-number" class="control-label col-md-4 col-lg-4">電話號碼</label>
                <div class="col-md-8 col-lg-8">
                    <input name="phone-number" type="text" class="form-control" id="phone-number" placeholder="電話號碼" ng-model="vm.education.phone_number">
                </div>
            </div>
        </div>
        <div class="form-group col-md-6 col-lg-6 col-sm-6 col-xs-12">
            <div class="row">
                <label for="emergency-contact" class="control-label col-md-4 col-lg-4">緊急聯絡人</label>
                <div class="col-md-8 col-lg-8">
                    <input name="emergency-contact" type="text" class="form-control" id="emergency-contact" placeholder="緊急聯絡人" ng-model="vm.education.emergency_contact">
                </div>
            </div>
        </div>
        <div class="form-group col-md-6 col-lg-6 col-sm-6 col-xs-12">
            <div class="row">
                <label for="emergency-contact-phone" class="control-label col-md-4 col-lg-4">緊急聯絡人電話</label>
                <div class="col-md-8 col-lg-8">
                    <input name="emergency-contact-phone" type="text" class="form-control" id="emergency-contact-phone" placeholder="緊急聯絡人電話" ng-model="vm.education.emergency_phone">
                </div>
            </div>
        </div>
    </div>
    <div class="row profile-section">
        <div class="col-md-2 col-md-offset-5">
          <button class="btn btn-primary btn-lg" ng-click="">送出</button>
        </div>
        <div class="col-md-5"></div>
    </div>
</form>
