<div class="col-md-8 col-md-offset-2">
<h1 class="text-center">重設密碼</h1>
</div>
<div id="main-content" class="col-md-8 col-md-offset-2 top-line">
  <vms-message data="vm.alert"></vms-message>
  <form name="resetPassword" ng-if="vm.showResetForm" class="form-horizontal" ng-submit="vm.submit()">
    <div class="form-group">
      <label for="password" class="col-sm-2 control-label">密碼</label>
      <div class="col-sm-10">
        <input type="password" ng-class="{'has-error':resetPassword.passwordConfirmation.$error.match}" class="form-control" id="password" placeholder="密碼" ng-model="vm.data.password" minlength="6" required>
      </div>
    </div>
    <div class="form-group">
      <label for="password-confirmation" class="col-sm-2 control-label">確認密碼</label>
      <div class="col-sm-10">
        <input type="password" name="passwordConfirmation" ng-class="{'has-error':resetPassword.passwordConfirmation.$error.match}" class="form-control" id="password-confirmation" placeholder="確認密碼" ng-model="vm.data.passwordConfirmation" match="vm.data.password" minlength="6" match-required>
      </div>
    </div>
    <div>
      <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
        <p class="text-danger" ng-show="resetPassword.passwordConfirmation.$error.match">{{ 'alert.danger.password_not_match' | translate }}</p>
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <button type="submit" class="btn btn-primary">送出</button>
      </div>
    </div>
  </form>
</div>
