<div class="col-xs-12 col-sm-10 col-sm-offset-1">
	<h1>我的專案</h1>
</div>
<div id="main-content" class="top-line col-xs-12 col-sm-10 col-sm-offset-1">
	<div id="search-section" class="row-eq-height">
		<div class="col-md-6 col-lg-6">
			<form class="form-inline">
				<div class="form-group">
					<label>{{ 'search' | translate }}</label>
					<input class="form-control" ng-model="vm.searchProjectName.name" type="text" name="search" id="search" placeholder="{{ 'enter_project_name' | translate }}" />
				</div>
			</form>
		</div>
		<div class="col-md-2 col-md-offset-4 col-lg-2 col-lg-offset-4">
			<button class="btn btn-primary" role="button" ui-sref="createProject">新增專案</button>
		</div>
	</div>
	<table class="table table-striped">
		<thead>
			<tr>
				<th>專案名稱</th>
				<th>組織名稱</th>
				<th>是否發布</th>
				<th>建立時間</th>
				<th>管理</th>
				<th>刪除</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="project in vm.projects | filter: vm.searchProjectName">
				<td>
					<a ui-sref="projectDetail({ id: project.id })">{{ project.name }}</a>
				</td>
				<td>
					{{ project.organization }}
				</td>
				<td>
					{{ project.is_published | yesNo }}
				</td>
				<td>
					{{ project.created_at | formatDateTime }}
				</td>
				<td>
					<span class="glyphicon glyphicon-cog" ui-sref="project.show({ projectId: project.id })" aria-hidden="true"></span>
				</td>
				<td>
					<span class="glyphicon glyphicon-trash" ng-click="vm.delete(project.id)" aria-hidden="true"></span>
				</td>
			</tr>
		</tbody>
	</table>
</div>
<!--angular ui modal-->
<script type="text/ng-template" id="deleteProject.html">
<div class="modal-header">
    <h3 class="modal-title">注意！您的專案即將被刪除</h3>
</div>
<div class="modal-body">
    <div class="alert alert-danger" role="alter" ng-show="vm.deleteMsg">{{vm.deleteMsg}}</div>
    <div class="alert alert-warning" role="alert">{{vm.remind}}</div>
</div>
<div class="modal-footer">
    <button class="btn btn-danger" type="button" ng-click="vm.ok()">確認刪除專案</button>
    <button class="btn btn-default" type="button" ng-click="vm.cancel()">取消</button>
</div>
</script>
