/**Seperate line hr**/

.hr {
    width: 100%;
    height: 1px;
    margin-left: auto;
    margin-right: auto;
    background-color: black;
    color: #FF0066;
    border: 0 none;
}

.line{

    background-color:#50E3C2  ;
    height:15px;

}


/**font type **/

.font {
    font-family: serif;
    font-weight: bold;
    
}

default_color{

    
}

/**color default**/

.color {
    color: black;
}



/**login page body color **/

.body {
    background-color: #F0F0F0;
}

.scrollable-menu {
    height: auto;
    max-height: 200px;
    overflow-x: hidden;
}

.btn_style{
    background:#41C5A8;
    color:white;
    width:100px;
    height:40px;

}
.btn_custom{

    height:30px;
    width:50px;
    font-size: 15px;
    text-align: center;

}