/**Seperate line hr**/

.hr {
    width: 100%;
    height: 1px;
    margin-left: auto;
    margin-right: auto;
    background-color: #979797;
    border: 0 none;
}

.line{

    background-color:#50E3C2  ;
    height:15px;

}

nav {
    background-color: #ECECEC;
}

body {
    padding-top: 50px;
    min-height: 100%;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    background-color: #ECECEC;
}

footer p {
    margin: 20px 0;
}

#main-content {
    background-color: #FFFFFF;
    min-height: 80%;
    padding: 30px;
    margin-top: 80px;
}

a {
    color: #50E3C2;
}

/**font type **/

@font-face {
    font-family: 'cwTeXHei';
    font-family: 'cwTeXHei';
    font-style: normal;
    font-weight: 500;
    src: url(//fonts.gstatic.com/ea/cwtexhei/v3/cwTeXHei-zhonly.eot);
    src: url(//fonts.gstatic.com/ea/cwtexhei/v3/cwTeXHei-zhonly.eot?#iefix) format('embedded-opentype'),
         url(//fonts.gstatic.com/ea/cwtexhei/v3/cwTeXHei-zhonly.woff2) format('woff2'),
         url(//fonts.gstatic.com/ea/cwtexhei/v3/cwTeXHei-zhonly.woff) format('woff'),
         url(//fonts.gstatic.com/ea/cwtexhei/v3/cwTeXHei-zhonly.ttf) format('truetype');
}

/**color default**/

.color {
    color: black;
}



/**login page body color **/


.scrollable-menu {
    height: auto;
    max-height: 200px;
    overflow-x: hidden;
}

.btn_style{
    background:#41C5A8;
    color:white;
    width:100px;
    height:40px;

}
.btn_custom{

    height:30px;
    width:50px;
    font-size: 15px;
    text-align: center;

}