/**
 *  If you want to override some bootstrap variables, you have to change values here.
 *  The list of variables are listed here bower_components/bootstrap-sass/assets/stylesheets/bootstrap/_variables.scss
 */
$navbar-inverse-link-color: #5AADBB;
$icon-font-path: "../../bower_components/bootstrap-sass/assets/fonts/bootstrap/";
$primary-color:         #E74C40;
$grey-color:            #EDEDEE;
$brand-primary:         #1EBCD4;
$body-bg:               $grey-color !default;
$input-border-focus:             #5AA9D9 !default;
$navbar-default-bg:                $primary-color !default;
$top-line-color:        #240303;
$link-color:            $primary-color !default;
$navbar-default-link-hover-bg:    darken($primary-color, 6.5%);

/**
 *  Do not remove the comments below. It's the markers used by wiredep to inject
 *  sass dependencies when defined in the bower.json of your dependencies
 */
// bower:scss
// endbower

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

.thumbnail {
  height: 200px;

  img.pull-right {
    width: 50px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

nav a {
  color: #ffffff !important;
}

body {
    padding-top: 100px;
    min-height: 100%;
    margin-bottom: 120px;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  color: darken($grey-color, 30%);
}

footer p {
    margin: 20px 0;
}

hr.color {
  border-top: 1px solid darken($grey-color, 6.5%);
}

#main-content {
    background-color: #FFFFFF;
    min-height: 80%;
    padding: 30px;
}

#avatar-image {
  height: 180px;
  width: 180px;
}

#avatar-input {
  margin-top: 10px;
  margin-left: 30px;
}

.top-line {
  border-top-style: solid;
  border-top-width: 5px;
  border-top-color: $top-line-color;
}

.profile-section {
  margin-top: 30px;
}

.text-center {
  text-align: center;
}

.profile-section > div {
  margin: 10px 0;
}

.profile-section input:not([type='radio']), select {
  width: 100% !important;
}

@media (max-width: $screen-sm-max) {
  form label {
    margin-bottom: 8px !important;
  }
}

@media (min-width: $screen-md-min) {
  form .control-label {
    padding-top: 7px;
    padding-left: 20px;
  }
}

@font-face {
    font-family: 'cwTeXHei';
    font-family: 'cwTeXHei';
    font-style: normal;
    font-weight: 500;
    src: url(//fonts.gstatic.com/ea/cwtexhei/v3/cwTeXHei-zhonly.eot);
    src: url(//fonts.gstatic.com/ea/cwtexhei/v3/cwTeXHei-zhonly.eot?#iefix) format('embedded-opentype'),
         url(//fonts.gstatic.com/ea/cwtexhei/v3/cwTeXHei-zhonly.woff2) format('woff2'),
         url(//fonts.gstatic.com/ea/cwtexhei/v3/cwTeXHei-zhonly.woff) format('woff'),
         url(//fonts.gstatic.com/ea/cwtexhei/v3/cwTeXHei-zhonly.ttf) format('truetype');
}

/**
 *  Do not remove the comments below. It's the markers used by gulp-inject to inject
 *  all your sass files automatically
 */
// injector
// endinjector
