<div class="container" >
    <h1>My Profile</h1>
     <div class="row">
        <div class="col-md-3" id="profile-left-column">
            <div class="row">
                <hr class="line" style="margin: auto;">
                <div class="container">
                    <img ng-src={{vm.img}} id="profile-img" class="img-circle" >
                </div>
                <!-- <h3 style="text-align: center;">{{profile.volunteer.name}}</h3>
                <div class="container" style="width: inherit;margin:30px;">
                    {{profile.volunteer.introduction}}
                </div>
                <div class="container" style="margin-left: 30px">
                    <label>Participating</label>
                    <button class="btn btn-info btn_custom" style="margin-left:30px">
                        {{profile.volunteer.participating}}
                    </button>
                </div>
                <div class="container" style="margin-left: 30px">
                    <label>Participated</label>
                    <button class="btn btn-info btn_custom" style="margin-left: 35px ;margin-top: 10px">
                        {{profile.volunteer.participated}}
                    </button>
                </div> -->
            </div>
        </div>
       <!--  <div class="col-md-8" style="background:white;height: auto;margin-left: 20px">
            <div ng-init="tab = 1">
                <ul class="nav  nav-tabs" style="margin: 20px">
                    <li ng-class="{active:tab===1}"><a href ng-click="tab=1">Profile</a></li>
                    <li ng-class="{active:tab===2}"><a href ng-click="tab=2">Projects</a></li>
                </ul>
            </div> 
            
           <div class="panel" ng-show="tab===1">
                <div ng-include src="'aboutDirective.html'"></div>
                <hr>
                <div ng-include src="'contactDirective.html'"></div>
                <hr>
                <div ng-include src="'eeDirective.html'"></div>
                <hr>
                <div ng-include src="'seDirective.html'"></div>
            </div>
            <div class="panel" ng-show="tab===2">
                <h1>bbbb</h1>
            </div>
        </div>
    </div>  -->
</div>
