<div class="row">
    <div class="col-md-6">
        <div class="col-md-12">
            <label class="profile-font">
                <span class="glyphicon glyphicon-certificate" aria-hidden="true"></span> Skills
            </label>
            <br>
            <label ng-repeat="skill in vm.profile.skills">
                {{skill.name}}&nbsp;
            </label>
        </div>
    </div>
    <div class="col-md-6">
        <div class="col-md-12">
            <label class="profile-font">
                <span class="glyphicon glyphicon-wrench" aria-hidden="true"></span> Equipment
            </label>
            <br>
            <label ng-repeat="equipment in vm.profile.equipment">
                {{equipment.name}}&nbsp;
            </label>
        </div>
    </div>
</div>
