<span class="h2-inline">成員管理</span>

<div ng-repeat="item in vm.memberCustomFieldDataList track by $index" class="row">
	<div class="col-md-12 col-lg-12">
		<h3>{{ vm.getIncludedMember($index).username }}</h3>
	</div>
	<div class="col-md-12 col-lg-12 profile-section" ng-repeat="value in item">
		<fill-custom-field-type type="vm.getIncludedCustomField(value.relationships.project_custom_field.data.id).type" title="vm.getIncludedCustomField(value.relationships.project_custom_field.data.id).name" field-data="value.attributes.data" metadata="vm.getIncludedCustomField(value.relationships.project_custom_field.data.id).metadata"></fill-custom-field-type>
	</div>
</div>
