<span class="h2-inline">自訂欄位管理</span>
<span class="btn-group pull-right" role="group">
	<button class="btn btn-default" ng-click="vm.appendCustomField()"><span class="glyphicon glyphicon-plus"></span> 新增欄位</button>
	<!-- <button class="btn btn-default"><span class="glyphicon glyphicon-ok"></span> 完成</button> -->
	<button class="btn btn-default" ng-click="vm.preview(vm.projectCustomFields.data)"><span class="glyphicon glyphicon-eye-open"></span> 瀏覽</button>
</span>
<hr>
<div class="alert alert-danger" role="alert" ng-show="vm.errorMsg">
	<span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
	<span class="sr-only">Error:</span> {{ vm.errorMsg }}
</div>
<p class="message bg-info text-center" ng-show="vm.isProjectCustomFieldEmpty()">
	目前尚未有任何自訂欄位，請建立所需要的欄位。
</p>
<div id="poject-custom-fields-section" ng-repeat="customField in vm.projectCustomFields.data">
	<custom-field data="customField"></custom-field>
</div>

<!--angular ui modal-->
<script type="text/ng-template" id="customFieldPreview.html">
<div class="modal-header">
    <h3 class="modal-title">瀏覽</h3>
</div>
<div class="modal-body">
    <custom-field-preview data="vm.data"></custom-field-preview>
</div>
</script>
