<div class="col-xs-12 col-sm-10 col-sm-offset-1">
	<h1>管理自訂欄位
		<span class="btn-group pull-right" role="group">
			<button class="btn btn-default" ng-click="vm.appendCustomField()"><span class="glyphicon glyphicon-plus"></span> 新增欄位</button>
			<button class="btn btn-default"><span class="glyphicon glyphicon-ok"></span> 完成</button>
			<button class="btn btn-default"><span class="glyphicon glyphicon-eye-open"></span> 瀏覽</button>
		</span>
	</h1>
</div>
<div id="main-content" class="top-line col-xs-12 col-sm-10 col-sm-offset-1">
	<div class="alert alert-danger" role="alert" ng-show="vm.errorMsg">
		<span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
		<span class="sr-only">Error:</span> {{ vm.errorMsg }}
	</div>
	<p class="message bg-info text-center" ng-show="vm.isProjectCustomFieldEmpty()">
		目前尚未有任何自訂欄位，請建立所需要的欄位。
	</p>
	<div id="poject-custom-fields-section" ng-repeat="customField in vm.projectCustomFields.data">
		<custom-field data="customField"></custom-field>
	</div>
</div>
