<div class="col-xs-12 col-sm-10 col-sm-offset-1">
	<h1>瀏覽專案</h1>
</div>
<div id="main-content" class="top-line col-xs-12 col-sm-10 col-sm-offset-1">
	<div class="alert alert-danger" role="alert" ng-show="vm.errorMsg">
		<span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
		<span class="sr-only">Error:</span> {{ vm.errorMsg }}
	</div>
	<span class="h3-inline">{{ vm.project.name }}</span>
	<button class="btn btn-default pull-right" ng-click="vm.attend()" ng-show="vm.isGuest()">加入</button>
	<button class="btn btn-default pull-right" ui-sref="fillProjectCustomFieldData({ projectId: vm.project.data.id })" ng-show="vm.isMember()">填寫資料</button>
	<button class="btn btn-default pull-right" ui-sref="project.edit({ projectId: vm.project.id })" ng-show="vm.isCreator()">編輯</button>
	<hr>
	<div id="project-basic" class="project-section row">
		<div class="col-md-6 col-lg-6">
			<div class="row">
				<div class="col-md-4 col-lg-4">
					<span class="glyphicon glyphicon-user" aria-hidden="true"></span> {{ 'manager' | translate }}
				</div>
				<div class="col-md-8 col-lg-8">
					<p>
						{{ vm.project.managers.data[0].last_name }} {{ vm.project.managers.data[0].first_name }}
					</p> ({{ vm.project.managers.data[0].email }})
				</div>
			</div>
		</div>
		<div class="col-md-6 col-lg-6">
			<div class="row">
				<div class="col-md-4 col-lg-4">
					<span class="glyphicon glyphicon-time" aria-hidden="true"></span> {{ 'created_date' | translate }}
				</div>
				<div class="col-md-8 col-lg-8">
					{{ vm.project.created_at }}
				</div>
			</div>
		</div>
		<div class="col-md-12 col-lg-12">
			<div class="row">
				<div class="col-md-2 col-lg-2">
					<span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span> {{ 'description' | translate }}
				</div>
				<div class="col-md-10 col-lg-10" ng-bind-html="vm.project.description | htmlize">
				</div>
			</div>
		</div>
		<div class="col-md-12 col-lg-12">
			<div class="row">
				<div class="col-md-2 col-lg-2">
					<span class="glyphicon glyphicon-link" aria-hidden="true"></span> {{ 'related_links' | translate }}
				</div>
				<project-hyperlinks class="col-md-10 col-lg-10" project-id="vm.projectId"></project-hyperlinks>
			</div>
		</div>
		<div class="col-md-12 col-lg-12">
			<div class="row">
				<div class="col-md-2 col-lg-2">
					<span class="fa fa-users" aira-hidden="true"></span> {{ 'project.member' | translate }}
				</div>
				<div class="col-md-10 col-lg-10">
					<div class="row-eq-height">
						<div ng-repeat="member in vm.membersList.data track by $index" class="col-md-4 col-lg-4">
							<b>
								{{ member.attributes.first_name }} {{ member.attributes.last_name}}
							</b>
								({{ member.attributes.username }})
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
