	<div class="alert alert-danger" role="alert" ng-show="vm.errorMsg">
		<span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
		<span class="sr-only">Error:</span> {{ vm.errorMsg }}
	</div>
		<span class="h2-inline">基本資訊</span>
		<button class="btn btn-default pull-right" ng-click="vm.attend()" ng-show="vm.isGuest()">加入</button>
		<button class="btn btn-default pull-right" ui-sref="fillProjectCustomFieldData({ projectId: vm.project.data.id })" ng-show="vm.isMember()">填寫資料</button>
		<button class="btn btn-default pull-right" ui-sref="editProject({ id: vm.project.data.id })" ng-show="vm.isCreator()">編輯</button>
		<hr>
		<div id="project-basic" class="project-section row">
			<div class="col-md-6 col-lg-6 col-sm-6 col-xs-12">
				<div class="row">
					<label for="name" class="col-md-2 col-lg-4">名稱</label>
					<div class="col-md-10 col-lg-8">
						<span id="name">{{ vm.project.name }}</span>
					</div>
				</div>
			</div>
			<div class="col-md-6 col-lg-6 col-sm-6 col-xs-12">
				<div class="row">
					<label for="organization" class="col-md-2 col-lg-4">組織名稱</label>
					<div class="col-md-10 col-lg-8">
						<span id="organization">{{ vm.project.organization }}</span>
					</div>
				</div>
			</div>
			<div class="col-md-6 col-lg-6 col-sm-6 col-xs-12">
				<div class="row">
					<label for="permission" class="col-md-2 col-lg-4">權限</label>
					<div class="col-md-10 col-lg-8">
						<span>{{ vm.project.permission | permissionText }}</span>
					</div>
				</div>
			</div>
			<div class="col-md-6 col-lg-6 col-sm-6 col-xs-12">
				<div class="row">
					<label for="permission" class="col-md-2 col-lg-4">是否發布</label>
					<div class="col-md-10 col-lg-8">
							<span id="permission" aria-label="ABC" ng-true-value="true" ng-false-value="false">
                {{ vm.project.is_published | yesNo}}
              </span>
					</div>
				</div>
			</div>
			<div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
				<div class="row">
					<label for="hyperlinks" class="col-md-1 col-lg-2">相關連結</label>
					<project-hyperlinks class="col-md-11 col-lg-10" project-id="vm.project.id"></project-hyperlinks>
				</div>
			</div>
			<div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
				<div class="row">
					<label for="description" class="col-md-1 col-lg-1">說明</label>
					<div class="col-md-10 col-lg-10">
						<div id="description" ng-bind-html="vm.project.description | htmlize"></div>
					</div>
				</div>
			</div>
		</div>
		<div class="project-section">
			<span class="h2-inline">專案成員</span>
			<button class="btn btn-default pull-right" ng-click="vm.manageMembers()" ng-show="vm.isCreator()">成員管理</button>
			<hr>
			<div class="row">
			  <div ng-repeat="member in vm.membersList.data track by $index">
			    <div class="col-md-2 col-lg-3">
			      <span class="glyphicon glyphicon-user"></span> <a ng-click="vm.showMember(member)">{{ member.attributes.username }}</a>
			    </div>
			    <!-- <div class="col-md-1 col-lg-1">
			      {{ member.attributes.first_name }} {{ member.attributes.last_name}}
			    </div> -->
			  </div>
			</div>
		</div>
