<div class="col-xs-12 col-sm-10 col-sm-offset-1">
  <h1>所有專案</h1>
</div>
<div id="main-content" class="top-line col-xs-12 col-sm-10 col-sm-offset-1">
  <div class="alert alert-info" role="alert">參與您有興趣的專案！</div>
  <div id="search-section" class="row-eq-height">
    <div class="col-md-7 col-lg-7">
      <div class="row">
        <div class="col-md-2 col-lg-2" uib-dropdown>
          <button type="button" class="btn btn-default dropdown-toggle" uib-dropdown-toggle>{{ 'field' | translate }} <span class="caret"></span></button>
          <ul class="dropdown-menu" uib-dropdown-menu>
            <li><a ng-click="vm.setSearchField('name')">{{ 'project.search.fields.name' | translate }}</a></li>
            <li><a ng-click="vm.setSearchField('organization')">{{ 'project.search.fields.organization' | translate }}</a></li>
          </ul>
        </div>
        <div class="col-md-8 col-lg-8">
          <div class="input-group">
            <span class="input-group-addon">{{ 'project.search.fields.' + vm.searchField | translate }}</span>
            <input class="form-control" ng-model="vm.searchProject[vm.searchField]" type="text" name="search" id="search" placeholder="{{ 'search_keyword' | translate }}" />
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12">
      <div class="row">
        <div class="col-md-12 col-xs-12 col-sm-12">
          <div class="row project-item" ng-repeat="project in vm.projects | filter: vm.searchProject">
            <div class="col-md-8">
              <div class="row">
                <div class="col-md-12">
                  <h4><a ui-sref="projectDetail({ id: project.id })">{{ project.name }}</a></h4>
                </div>
                <div class="col-md-6">
                  {{ project.organization }}
                </div>
                <div class="col-md-6">
                  {{ project.updated_at }}
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="row">
                <div class="col-md-12 text-right">
                  <span class="fa fa-user fa-lg" aria-hidden="true"></span> {{ project.member_number }}
                </div>
                <div class="col-md-12 text-right">
                  <span class="fa fa-cubes fa-lg" aria-hidden="true"></span> {{ project.process_number }}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
